{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["src/**/*.{ts,tsx}", "tests/**/*.spec.{ts,tsx}"]
    }
  ]
}
