.bg-custom {
  background: url("../../assets/background.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  background-image: url("../../assets/cloud.png");
}
